body,td,th {
	font-family: Tahoma, sans-serif, serif;
	font-size: 11px;
	color: #222;
	}
body {
	background-color: #FFF;
	margin: 0 10px 0 0;
	}
a:link, a:visited {
	text-decoration: none;
	color: #AAA;
	}
a:hover, a:active {
	text-decoration: none;
	color: #69C;
	}
	
	/* header */
	
div#header {
	background: url(logo3.png) no-repeat left top #DDD;
	height: 50px;
	border-bottom: 5px solid #BBB;
	}
ul#menu {
	position: absolute;
	text-align: right;
	right: 20px;
	top: 26px;
	font-weight: bold;
	font-variant: small-caps;
	}
ul#menu li {
	display: inline;
	padding: 0 3px;
	}
ul#menu li a{
	color: #AAA;
	border-bottom: 5px solid #BBB;
	}
ul#menu li a:hover {
	color: #4C4C4C;
	border-bottom: 5px solid #4C4C4C;
	}
	
	/* main section */

div#wrapper {
	width: 85%;
	margin: 10px auto;
	}

div.category {
	text-align: left;
	margin: 5px 10px;
	border: 1px solid #DDD;
	}
div.category h1 {
	font-size: 14px;
	padding: 2px 5px;
	background: #EEE;
	color: #BBB;
	border-bottom: 3px solid #DDD;
	margin: -1px;
	}
	
div.category .forumrow {
	border-bottom: 1px solid #DDD;
	width: 100%;
	padding: 5px 0;
	}

div.category .forumtitle {
	text-align: left;
	width: 50%;
	float: left;
	padding: 5px 0;
	}
div.category .forumactivity {
	text-align: right;
	width: 25%;
	float: right;
	padding: 5px 0;
	}
div.category .forumstat {
	text-align: center;
	width: 25%;
	margin-left: 50%;
	padding: 5px 0;
	}
div.category span.desc {
	padding: 5px;
	color: #999;
	}
div.category span.titlelink {
	padding: 5px;
	font-size: 12px;
	}

	/* main section */
	
div.topiccell {
	padding: 5px;
	border-bottom: 3px double #DDD;
	}
div.topiccell h3 {
	font-size: 11px;
	margin: -1px;
	border-bottom: 1px solid #DDD;
	padding: 5px;	
	}
div.topiccell h3 strong {
	font-size: 12px;
	color: #4C4C4C;
	}
div.topiccell h3 span {
	font-weight: normal;
	}
div.topiccell p {
	padding: 5px;	
	}
div.buttons {
	text-align: right;
	font-variant: small-caps;
	font-weight: bold;
	padding: 5px;
	}

	
	/* footer and copyrights */
	
div#footer {
	background: #DDD;
	border-top: 5px solid #BBB;
	color: #AAA;
	text-align: right;
	padding: 5px 10px;
	margin-top: 10px;
	font-size: 10px;
	}
